@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<br /><br /><br />


   
<p>
    <br /><br /><br /><br />
    Kayıt ekranından hasta kaydı yapabilirsiniz<br /><br />

    Hasta Kayıtları Kayıtlı Listesi ekranında görüntülenmektedir
 </p>
<!-- index.html veya başka bir sayfa -->

<div class="text-center mt-4">
    <img src="@Url.Content("~/images/doktor.jpg")" alt="Doktor Resmi" class="custom-image">
</div>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site.css"> 
</head>
<body>

    <h1 class="büyük-başlık">Hastane bilgi yönetim sistemine hoşgeldiniz</h1>
    

</body>
</html>
